body {
    background-color: #fffafa;
    height: 100%;
    overflow: visible;
}

.container-shadow {
    box-shadow: 0 0 10px #000
}

.c-darkred-text {
    color: #cc0000;
}

.horizontal-line {
    min-height: 5px;
    max-width: 100%;
    margin: 30px 0;
    background-color: #cc0000;
}

.inline-video {
    float: right;
    margin: 10px 20px;
}

.incline-dataviz-description {
    padding: 10px 20px;
}

a:link {
    text-decoration: none;

}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

pre[class*="language-"] {
    border: none;
    padding: 0;
    font-size: small;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0; /* The point at which the image becomes "stuck" to the top */
    z-index: 10;
    background-color: #fffafa;
    padding-top: 10px;
    border-top: lightgray 1px solid;
    border-bottom: lightgray 1px solid;
    /*margin-top: 10px;*/
}

.sticky-caption {
    padding: 20px 0;
}
