body {
    font-family: arial;
    background-color:#FFFFFF;
}
.center-content {
    margin: 0 auto;
    padding: 10px;
    max-width: 1038px;
    min-height: 100%;
    background-color: white;
    box-shadow: 0 0 20px #000
}
header {
    max-width: 1018px;
}
header h2 {
    padding: 20px 10px 10px 10px;
    margin: 0;
    color: #cc0000;
}
header p {
    margin: 0 10px;
}
.horizontal-line {
    min-height: 5px;
    max-width: 100%;
    margin: 10px;
    background-color: #cc0000;
}
h3 {
    padding: 10px 10px 0 20px;
    color: #cc0000;

}
.education p {
    margin: 10px 20px;

}
